#wrapper {
  display: flex;
  transition: all 0.3s;
}

#sidebar-wrapper {
  width: 250px;
  min-height: 100vh;
  transition: all 0.3s;
}

#page-content-wrapper {
  flex-grow: 1;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -250px;
}

.list-group-item {
  border: none;
}

.list-group-item:hover {
  background-color: #343a40;
}
